.venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# PyCharm / VS Code
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Python virtual environments
env/
venv/
ENV/
VENV/

# Local files
*.log
*.sqlite3
